@charset "utf-8";
/* CSS Document */

body {
	margin-left: auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	 font-family:"微软雅黑";
	color:#555555;word-break:break-all; background:#fff; 
}
html { margin:0; padding:0; font-size:14px; line-height:32px; text-align:center;}
* { margin:0; padding:0; }
table, div {font-size:14px;}
img { border:0;}
a { text-decoration:none; color:#555555;}
a:hover { color:#0eb74c; text-decoration:none;}
select {outline:none;font-size:13px;border: solid 1px #c2c2c2;padding: 6px 10px 6px 0;margin-right:0px;float: left;}

#warp { width:100%;height:auto; MARGIN: 0px auto;}
#warp1 { width:100%;min-height:1000px; MARGIN: 0px auto; background:url(../images/opinion_bg.jpg) #95cbee center top no-repeat;}
#warp2 { width:100%;min-height:760px; MARGIN: 0px auto; background:url(../images/login_02.jpg) center 142px no-repeat; }
#header { width:100%; margin:0 auto; top:0; background:url(../images/index_02.jpg) center top repeat-x; height:204px;}
#header2 { width:100%; margin:0 auto; top:0; background:url(../images/help_02.jpg) center top repeat-x; height:113px;}
#header3 { width:100%; margin:0 auto; top:0;}
#current01 { width:100%; margin:0 auto; background:url(../images/business_list_19.jpg) center top repeat-x; height:42px;}
#main { width:1200px; margin:0 auto; height:100%;}
#footer {width:100%;clear:both; text-align:center; background:#0eb74c; height:460px; color:#000;}





/*con*/
/*header*/
.h_center { text-align:left; width:1200px; margin:0 auto;}
.h_0100 { text-align:left; width:1200px; height:32px; float:left; height:559px;}
.h_01 { text-align:left; width:1200px; height:30px; float:left;}
.h_01 .left{float:left;}
.h_01 .right{ float:right;}
.h_02 { text-align:left; width:1200px; height:125px; float:left;}
.h_022 { text-align:left; width:1200px; height:82px; float:left;}
.h_03 { text-align:left; width:1200px; float:left;}
.logo{ padding:20px 0 0px 10px; width:224px; float:left;}
.logo2{ padding:15px 0 0 0px; width:300px; float:left; height:60px; text-align:left; line-height:45px; font-size:25px; font-weight:bold; color:#fff;}
.logo3{ padding:44px 0 0px 10px; width:151px; float:left;}

.h_04 { text-align:left; width:470px; float:left; padding:34px 0 0 40px;}
.h_navigation2 { width:415px; height:82px; float:left; padding-left:320px;}
.h_navigation2 ul{ width:415px; height:82px;  float:left;}
.h_navigation2 ul li{ height:82px; float:left; text-align:center; color:#fff; font-size:16px; font-weight:bold; line-height:75px; padding:0 20px; }
.h_navigation2 ul li:hover{ height:80px; float:left; text-align:center; background:#0f9749;}
.h_navigation2 ul li a{ color:#fff;}
.h_navigation2 ul li a:hover{ color:#dff411; text-decoration:none;}
.h_navigation3 { width:415px; height:70px; float:left; text-align:left; color:#fff; font-size:16px; font-weight:bold; line-height:68px; padding:0 20px; margin-left:15px; border-left:#fff 1px solid; margin-top:7px;}
.h_navigation3 a{ color:#fff;}
.h_navigation3 a:hover{ color:#fff;}
.cz_ss {float:left;width: 470px; background-color:#0eb74c; padding:2px; height:34px;}
.cz_label {float:left;width:100px; height:34px;}
.czss_text {float:left;border-left:0px;border-top:1px #c2c2c2 solid;border-bottom:1px #c2c2c2 solid; border-right:0px;width:390px;height:32px;line-height:32px;background: #fff;font-size: 13px;padding: 0 5px;margin: 0px;}
.czss_btn {float:left;width:70px;height:34px;border:0px;cursor:pointer;margin: 0px; background:none; color:#fff; text-align:center;}
.cz_ss2 {float:left;width: 470px; padding:2px; height:34px;}

.h_05 { text-align:left; width:418px; float:left; padding:34px 0 0 30px;}
.h_05 .btn1{ text-align:center; width:106px; float:left; height:25px; margin-right:10px; border:#dddddd 1px solid; line-height:25px; padding:5px; font-size:14px;}
.h_05 .btn2{ text-align:center; width:140px; float:left; height:25px; margin-right:10px; border:#dddddd 1px solid; line-height:25px; padding:5px;}
.btn105{ text-align:center; width:140px; float:right; height:25px; margin-right:10px; margin-top:20px;  border:#dddddd 1px solid; line-height:25px; padding:5px; background:#fff;}
.h_navigation { width:1200px; height:47px; float:left;}
.h_navigation ul{ width:1200px; height:47px; float:left;}
.h_navigation ul li{ width:20%; height:47px; float:left; text-align:center; color:#fff; font-size:18px; font-weight:bold; line-height:47px; }
.current01{ background:#0f9749; color:#dff411; height:46px !important; float:left; margin-top:1px;} 
.current01 a{ color:#dff411 !important;} 
.h_navigation ul li a{ color:#fff;}
.h_navigation ul li a:hover{ color:#dff411; text-decoration:none;}
.h_telephone { text-align:left; width:230px; float:left; background:#0077ee; height:58px; line-height:52px; color:#fff; font-size:23px; padding-left:10px;}
.h_current { text-align:left; width:1200px; height:42px; margin:0 auto; text-align:left; line-height:42px; font-size:15px;}
.border{ border:#dfdfdf 1px solid; background:#fff; padding:5px; }
.h_06 { text-align:left; width:1178px; border:#dfdfdf 1px solid; float:left; padding:10px;}

/*main*/
.m_center { text-align:left; width:1200px; float:left; padding:15px 0;}
.m_01 { text-align:left; width:244px; float:left; border:#dfdfdf 1px solid;}
.m_02 { text-align:left; width:1200px; float:left; margin-bottom:15px;}
.m_02 ul{ text-align:left; float:left;}
.m_02 ul li{ text-align:left; float:left; width:256px; margin-right:16px; border-radius:6px; border:#dddddd 1px solid; padding:15px; margin-bottom:15px;}
.m_02 ul li:hover{ background:#f6f6f6;}
.last_list{margin-right:0 !important;}
.m_02 ul li .img{ text-align:center; float:left; width:256px; line-height:40px;}
.m_02 ul li .img0{ text-align:center; float:left; width:256px; height:100px; }
.m_02 ul li .new_icon{ position:absolute; z-index:999; width:48px; height:48px; padding-top:0px; padding-left:160px; }
.m_02 ul li .imgup{ padding:10px 0; position:absolute; width:94px; height:94px;  z-index:1;padding-left:90px; padding-top:0;}
.m_02 ul li .dongtai{ text-align:left; float:left; width:100%; line-height:35px;}
.m_02 ul li .btn{ text-align:center; float:left; width:100%; margin-bottom:10px;}
.m_02 ul li .btn a{ text-align:center; float:left; width:100%; line-height:32px; height:32px; color:#fff;border-radius:3px; cursor:pointer; background:#ffa133;}
.m_02 ul li .btn a:hover{ text-align:center; float:left; width:100%; line-height:32px; height:32px; color:#fff; border-radius:3px; background:#0eb74c;}

.m_03 { text-align:left; width:1200px; float:left; margin-bottom:15px;}
.m_03 ul{ text-align:left; float:left;}
.m_03 ul li{ text-align:left; float:left; width:207px; margin-right:18px; border:#dddddd 1px solid; padding:8px; margin-bottom:15px;}
.m_03 ul li:hover{ background:#f6f6f6;}
.last_list{margin-right:0 !important;}
.m_03 ul li .img{ text-align:left; float:left; width:100%; line-height:30px; color:#878787; padding-bottom:10px;}
.m_03 ul li .img a:hover{ text-decoration:underline;}

.m_03 ul li .dongtai{ text-align:left; float:left; width:100%; line-height:35px;}
.m_03 ul li .btn{ text-align:center; float:left; width:100%; margin-bottom:10px;}
.m_03 ul li .btn a{ text-align:center; float:left; width:100%; line-height:32px; height:32px; color:#fff;border-radius:3px; cursor:pointer; background:#ffa133;}
.m_03 ul li .btn a:hover{ text-align:center; float:left; width:100%; line-height:32px; height:32px; color:#fff; border-radius:3px; background:#0eb74c;}
.m_03 ul li .btnno{ text-align:center; float:left; width:100%; line-height:32px; height:32px; color:#fff;border-radius:3px; cursor:not-allowed;  background:#bebebe; margin-bottom:10px; margin-top:4px;}

.m_title { text-align:left; width:96%; float:left; border-bottom:#dfdfdf 1px solid; height:39px; line-height:39px; padding-left:10px; font-size:18px; font-weight:bold;}
.m_title1 { text-align:left; width:96%; float:left;height:39px; line-height:39px; padding-left:10px; font-size:18px; font-weight:bold; background: url(../images/index_50.jpg) left top no-repeat; }
.m_newslist { text-align:left; width:100%; float:left;}
.m_newslist ul { text-align:left; width:100%; float:left;}
.m_newslist ul li { text-align:left; width:100%; float:left; line-height:26.5px;}
.m_newslist ul li .title { text-align:left; width:70%; float:left; background: url(../images/index_32.jpg) 10px center no-repeat; padding-left:20px;}
.m_newslist ul li .date { text-align:left; width:20%; float:right; color:#9b9b9b;}
.m_banner { text-align:left; width:681px; float:left; padding:0 13px;}
.m_login { text-align:left; width:214px; float:left; padding:15px; background: url(../images/index_31.jpg) left top no-repeat; height:111px;}
.m_login_user { width:214px; float:left; height:66px;}
.m_login_user1 { width:66px; float:left;}
.m_login_user2 { width:130px; float:left; line-height:28px; color:#666666; padding-left:15px;}
.m_login_user3 { width:214px; float:left; padding-top:10px;}
.m_login_btn1 { width:94px; float:left;  background: url(../images/index_17.jpg) left top no-repeat; height:30px; line-height:30px; color:#fff; border:none; cursor:pointer; margin:0 6px;}
.m_login_btn2 { width:94px; float:left;  background: url(../images/index_19.jpg) left top no-repeat; height:30px; line-height:30px; color:#fff; border:none; cursor:pointer; margin:0 6px;}
.m_release { text-align:left; width:234px; float:left; background:#0077ee; height:50px;  padding-left:10px; line-height:50px; color:#fff; font-size:23px;}
.m_release a{ color:#fff;}
.m_release a:hover{ color:#fff;}
.m_link { text-align:left; width:244px; float:left;  border-top:#dfdfdf 1px solid;  border-left:#dfdfdf 1px solid;}
.m_link ul{ text-align:left; width:244px; float:left;}
.m_link ul li{ text-align:center; width:32.8%; float:left; border-right:#dfdfdf 1px solid;  border-bottom:#dfdfdf 1px solid; height:67px;}
.m_link ul li .icon1{ text-align:center; width:100%; float:left; padding:9px 0 8px 0;}
.m_link ul li .title1{ text-align:center; width:100%; float:left;}
.m_ad { text-align:left; width:592px; float:left; height:90px;}
.m_padding { padding-left:16px;}
.m_left { text-align:left; width:937px; float:left; }
.m_right { text-align:left; width:248px; float:right; border:#dfdfdf 1px solid;}
.m_border01 {  border-bottom:1px #dfdfdf solid;}
/*main商城分类*/
.cate_box {
	float:left;
	border-top:1px #dfdfdf solid;
	border-left:1px #dfdfdf solid;
	border-right:1px #dfdfdf solid;
	width:100%;
	margin: 10px 0;
	
}
.cate_nr { float:left; border-bottom:1px #dddddd solid;  width:100%;}
.cate_nr dt { float:left; width:10%; line-height:50px; text-align:left; padding-left:35px; box-sizing:border-box; font-weight:bold; font-size:15px; height:51px; background:url(../images/product_list_01_03.png) #f3f3f3 15px center no-repeat; }
.nav_class { float:left;width:85%; padding-left:10px;line-height:45px; background:#fff;}
.nav_class ul{ width:100%; float:left; padding:5px 0;}
.nav_class li{ float:left; padding:0 20px; height:29px; line-height:29px; border:1px #dfdfdf solid; font-size:13px; color:#373737; margin-right:10px; margin-top:5px; margin-bottom:5px; text-align:center; background:#fff;}
.nav_class li { cursor:pointer}
.nav_class .dq {border:1px #f75f3c solid;}

/*文字*/
.tit1 { font-size:20px; color:#000; font-weight:bold; padding-right:10px; }
.tit1 a{ font-size:20px; color:#000; font-weight:bold; }
.tit1 a:hover{ font-size:20px; color:#000; font-weight:bold; text-decoration:underline;}
.tit2 { color:#f75f3c; font-weight:bold; border-left:#e7e7e7 1px solid;  padding-left:10px; }
.tit3 { font-size:15px; font-weight:bold; border-bottom:#e7e7e7 1px solid; }
.tit4 { font-size:14px; color:#000;}
.tit4 a{ font-size:14px; color:#000;}
.tit4 a:hover{ text-decoration:underline;}
.tit5 { font-size:20px; color:#e4393c; font-weight:bold; padding-right:4px; }
.tit6 { font-size:14px; color:#e4393c; font-weight:bold; padding-right:4px; }
.tit7 {color:#858585;}
.tit8 {color:#0eb74c; font-size:15px;}
.tit8 a{color:#0eb74c; font-size:15px;}
.tit9 {font-size:20px; line-height:35px; padding-bottom:10px;}
.tit10 {font-size:18px; line-height:35px; padding-bottom:10px; width:40%; float:left; color:#0eb74c;}
.tit11 { font-size:14px; padding-left:10px; font-weight:normal;}
.tit12 { color:#0eb74c; }
.tit12 a{ color:#0eb74c; }
.tit13 { color:#0eb74c; padding:5px 10px; border-radius:6px; border:#0eb74c 1px solid;}
.tit15 { color:#0eb74c; padding:5px; border-radius:6px; border:#0eb74c 1px solid; float:right; line-height:25px; font-size:14px;}
.border101 { float:left;  border-bottom:2px #dfdfdf solid; padding:10px; width:98%; height:35px; font-size:16px;}
.tit14 { float:left; padding:0 10px;}
/*选项卡*/

.TabADS2 {height:38px;padding:0px;width:100%;float:left;}
.TabADS2 UL {CLEAR:both;width:100%;OVERFLOW:hidden;HEIGHT:38px;padding:0px;margin:0px;}
.TabADS2 LI {FLOAT:left;CURSOR:pointer;text-align:center; background:url(../images/product_datail_08.jpg) left top repeat-x; height:38px; line-height:38px; color:#333; font-size:16px; font-weight:bold;  list-style-type:none; padding:0 30px; border-left:#e1e1e1 1px solid; border-right:#e1e1e1 1px solid;}
.TabADS2 .TasADSOn {CURSOR:pointer;text-align:center; background:url(../images/product_datail_06a.jpg) left top repeat-x; height:38px; line-height:38px; font-size:16px; font-weight:bold;  list-style-type:none; border-left:#e1e1e1 1px solid; border-right:#e1e1e1 1px solid;  padding:0 30px;}
.TabADSCon2 { text-align:left; width:100%; float:left; }
.TabADSCon2 p{ text-align:left; line-height:40px; }



/*按钮*/
.botton01{ text-align:center; float:left; width:190px; line-height:43px; height:46px; color:#fff;border-radius:3px; cursor:pointer; background:#ffa133; margin-right:15px; font-size:20px;}
.botton01 a{ color:#fff;}
.botton02{ text-align:center; float:left; width:190px; line-height:43px; height:46px; color:#fff;border-radius:3px; cursor:pointer; background:#0eb74c;  margin-right:15px; font-size:20px;}
.botton02 a{ color:#fff;}
.botton03{ text-align:center; float:left; width:110px; line-height:25px; height:25px;border-radius:3px; cursor:pointer; background:#fbfbfb;  margin-right:10px; border:#d9d9d9 1px solid; margin-top:10px;}
.botton04{ text-align:center; float:right; width:190px; line-height:43px; height:46px; color:#fff;border-radius:3px; cursor:pointer; background:#ffa133; margin-right:15px; font-size:20px; margin-top:15px;}
.botton04 a{ color:#fff;}
.botton05{ text-align:center; float:right; width:190px; line-height:43px; height:46px; color:#fff;border-radius:3px; cursor:pointer; background:#ffa133;  font-size:20px; margin-top:15px;}
.botton05 a{ color:#fff;}
/*滚动*/
.h_24 { float:left; width:1200px; text-align:left;}
.h_24 ul{ float:left; width:100%; text-align:left;}
.h_24 ul li{ float:left; width:24%; text-align:left; margin-right:10px;}
.h_24 img{text-align:center; padding:3px;  border:#d6d6d6 1px solid;}

#demoa {
overflow:hidden;
width: 100%;

}
#demoa img {
text-align:center; padding:3px;  border:#d6d6d6 1px solid;}
#indemoa {
	float: left;
	width: 800%;
}
#demoa1 {
float: left;
}
#demoa2 {
float: left;
}



/*footer*/
.footer_nr1 {width:1200px;font-size: 12px; margin: 0 auto; height:136px;}
.footer_nr {width:1200px;font-size: 12px;line-height: 22px; margin: 0 auto; padding:25px 0; height:180px;}
.footer_nr2 {width:100%; padding:10px 0;  margin: 0 auto; clear:both; text-align:center; height:auto;}
.footer_nr3 {width:1200px; margin: 0 auto; text-align:center; color:#fff;}
.footer_nr4 {width:360px; margin: 0 auto; text-align:center;}
.footer_nr4 ul{float:center; text-align:center;}
.footer_nr4 ul li{ float:left; text-align:center; padding-right:8px;}

.footer_logo { float:left; width:162px; color:#333!important; }
.footer_logo ul{ float:left;}
.footer_logo li{ float:left; width:162px; text-align: center; color:#fff; font-weight:bold; font-size:16px;}
.footer_zixun { float:left; width:250px; text-align:left; line-height:30px;}

.footer_nav { float:right;width:920px;}
.footer_nav ul{float:left;width:20%; padding:0 20px; }
.footer_nav li{ float:left; clear:left;text-align: left; font-size:13px; line-height:24px; color:#fff;}
.footer_nav li a{ color:#fff!important;}
.footer_nav li a:hover{ text-decoration:underline;}
.fanv_tit{ float:left; clear:left;text-align: left; color:#fff!important; font-size:15px!important; font-weight: bold; padding-bottom:8px;}
.fanv_tit a{ color:#fff!important;}
.fanv_tit a:hover{ color:#fff!important;}

/*二级页样式*/
.m_center01 { text-align:left; width:1200px; float:left; padding:0; margin-bottom:15px;}
.m_center01_left { text-align:left; width:595px; float:left; padding:0;}
.m_center01_right { text-align:left; width:595px; float:right; padding:0;}
.business_left01 { text-align:left; width:98%; float:left; padding:8px; line-height:45px;}
.business_left01 .img1{ text-align:left; width:30%; float:right; padding-top:10px;}
.business_left01 .tit1{ text-align:left; width:67%; float:left;}
.business_left02 { text-align:left; width:420px; float:left;}
.business_right02 { text-align:left; width:750px; float:right;}
.business_right02_tit { text-align:left; width:100%; float:left; height:50px; line-height:45px; border-bottom:#dfdfdf 1px solid; font-size:22px; font-weight:bold; color:#000;}
.business_right02_txt { text-align:left; width:100%; float:left;  line-height:40px;}
.business_right02_txt1 { text-align:left; width:97%; float:left; line-height:40px; margin-bottom:15px; background:#f7fbec; padding:10px; border:#83c34a 1px solid;}
.business_left03 { text-align:left; width:256px; float:left;}
.business_right03 { text-align:left; width:924px; float:right;}
.business_left03_1 { text-align:left; width:100%; float:left; margin-bottom:15px;  border:#dfdfdf 1px solid;}
.business_left03_1t { text-align:left; width:236px; float:left; line-height:37px; background:#ffa133; padding:0 10px; color:#fff; font-size:16px; font-weight:bold; height:37px;}
.business_left03_1x { text-align:center; width:236px; float:left; padding:10px;}
.business_left03_1xt { text-align:center; width:100%; float:left;}
.business_left03_2 { text-align:left; width:100%; float:left; margin-bottom:15px;  border:#dfdfdf 1px solid;}
.business_left03_2 ul{ text-align:left; width:236px; float:left; padding:10px;}
.business_left03_2 ul li{ text-align:center; width:46%; float:left; border:#dfdfdf 1px solid; height:30px; line-height:30px; margin-right:10px; margin-bottom:10px;}
.business_left03_2t { text-align:left; width:236px; float:left; line-height:33px; height:33px; background:url(../images/product_datail_18-06.jpg) left top repeat-x; padding:0 10px; font-size:14px; font-weight:bold;}

.business_right03_1 { text-align:left; width:100%; float:left; margin-bottom:15px; }
.business_right03_1_tit { text-align:left; width:100%; float:left;border-bottom:#dfdfdf 1px solid; }
.business_right03_1_tit span{ text-align:left; width:10%; float:left; background:#0088ee; text-align:center; line-height:32px; color:#fff;}
.business_right03_1_txt { text-align:left; width:96%; float:left; padding:20px; border:#dfdfdf 1px solid; line-height:35px;}
.business_right04 { text-align:left; width:100%; float:left;}
.business_right04 ul{ text-align:left; width:100%; float:left;}
.business_right04 ul li{ text-align:left; width:100%;; float:left; border-bottom:#dfdfdf 1px solid; margin-bottom:12px; }
.business_right04 ul li .left00t{ text-align:left; width:100px; float:left; padding-right:40px; }
.business_right04 ul li .left00t p{ text-align:center; width:100px; float:left; }
.business_right04 ul li .right00t{ text-align:left; width:83%; float:left; }
.business_right04 ul li .right00t p{ text-align:left; width:100%; float:left; line-height:30px;}

.m_margin { margin-bottom:10px;}
.shop_input0 {width:98%; padding:10px; border:1px #dfdfdf solid; float:left; margin-bottom:10px; margin-top:10px;}
.shop_input {width:1180px; padding:10px; float:left; margin-bottom:10px;}
.shop_input_text{float:left;}
.shop_input_text1{float:left; width:100px; text-align:left;}
.shop_input_text2{float:right;}
.shop_input_text4{float:left; margin-top:10px; margin-right:6px;}

.shop_input3 {width:40%;float:right; margin-bottom:10px; text-align:right;}
.shop_input03{float:left;width:140px;height:31px;line-height:20px;background:#FFFFFF;font-size: 14px; margin:0 0 0 10px; text-align:left; padding-left:5px; border:1px #dfdfdf solid; color:#747474;}

.shop_input01{float:left;width:137px;height:28px;line-height:28px;background:#FFFFFF;font-size: 14px; margin:0; text-align:left; padding-left:5px; border:1px #dfdfdf solid; color:#747474; margin-right:5px;}
.shop_button {float:left;width:80px;height:30px; background:#ffa133; color:#fff; text-align:center; line-height:28px; border:#ffa133 1px solid; cursor:pointer;}
.shop_button01 {float:left;width:80px;height:31px; background:#fff; color:#747474; text-align:center; line-height:31px; border:1px #dfdfdf solid; cursor:pointer;}
.shop_button02 {float:left;width:80px;height:31px; background:#e4393c; color:#fff; text-align:center; line-height:31px; border:1px #dfdfdf solid; cursor:pointer;}
.shop_button02 a{color:#fff; }
.shop_input2 {width:1180px; padding:10px; border:1px #dddddd solid; float:left; background:#f1f1f1; margin-bottom:15px;}
.shop_button03 {float:left;width:80px;height:31px; background:#fff; color:#ff504b; text-align:center; line-height:28px; border:1px #ff504b solid; cursor:pointer;}
.shop_button04 {float:right;width:80px;height:30px; background:#f5f5f5; color:#000; text-align:center; line-height:28px; border:#ffa133 1px solid; cursor:pointer; margin-top:10px; margin-right:10px;border:1px #dfdfdf solid; }

.shop_input07{float:left;width:27px;height:31px;line-height:17px;background:#FFFFFF;font-size: 14px; margin:0; text-align:center; border:1px #dfdfdf solid; color:#747474; cursor:pointer;}
.shop_input08{float:left;width:40px;height:29px;line-height:29px;background:#FFFFFF;font-size: 14px; margin:0; text-align:left; padding-left:5px; border:1px #dfdfdf solid; color:#747474;}

.help_01 { text-align:left; width:100%; height:50px; float:left; border-bottom:1px #dfdfdf solid; line-height:50px; margin-bottom:15px;}
.help_left { text-align:left; width:172px; float:left; border-bottom:1px #dfdfdf solid; border-left:1px #dfdfdf solid; border-right:1px #dfdfdf solid;}
.help_left_title { text-align:left; width:172px; float:left; background:#ffa133; text-align:center; height:60px; line-height:57px; color:#fff; font-weight:bold; font-size:18px;}
.help_right { text-align:left; width:990px; float:right;}
.help_right_title { text-align:left; width:99%; float:left; background:#f1f1f1; height:60px;font-weight:bold; font-size:18px; line-height:50px; border:1px #dfdfdf solid; padding-left:10px;}
.help_right_text { text-align:left; width:100%; float:left; line-height:40px; margin-bottom:10px;}
.purchase_dan {float:right; width:500px; border:#ff4400 1px solid; padding:15px; text-align:right;}
.purchase_dan2 {float:right; width:180px; background:#ff4400; text-align:center; line-height:40px; height:40px; color:#fff; font-size:18px; font-weight:bold;}
.purchase_dan2 a{color:#fff; }
.purchase_dan3 {float:left; width:100%; text-align:center; font-size:20px; font-weight:bold;border:1px #dfdfdf solid; line-height:150px; padding-bottom:500px;}
.input_list{ width:95%; float:left; text-align:left; padding:30px;}
.input_list dl{ line-height:32px; overflow:hidden; margin:15px auto; }
.input_list dl dt{ float:left; width:110px; line-height:32px; text-align:right; padding-right:20px;}
.input_list dl dt span{ color:#ec0000; padding-right:3px;}
.input_list dl dd{ float:left; width:780px; line-height:32px;}
.input_list dl dd .i1{ width:20%; border:1px solid #d6cdcd; line-height:32px; box-sizing:border-box; color:#959595; padding-left:4px; height:32px;}
.input_list dl dd .i2{ width:35%; border:1px solid #d6cdcd; line-height:32px; box-sizing:border-box; color:#959595; padding-left:4px; height:32px;}
.input_list dl dd .i3{ width:45%; border:1px solid #d6cdcd; line-height:32px; box-sizing:border-box; color:#959595; padding-left:4px; height:32px;}
.padd_btn { cursor:pointer; display:block; line-height:37px; font-size:18px; background:#3e8cf6; color:#fff; width:250px; height:40px; text-align:center; float:left; margin-left:118px; margin-top:15px; border:none;}
.padd_btn a{ color:#fff;}
.padd_btn2 { cursor:pointer; display:block; line-height:37px; font-size:18px; background:#0eb74c; color:#fff; width:200px; height:40px; text-align:center; float:left; margin-left:80px; margin-top:15px; border:none; border-radius:3px;}
.padd_btn2 a{ color:#fff;}
.padd_btn3 { cursor:pointer; display:block; line-height:40px; font-size:18px; background:#ffa133; color:#fff; width:100%; height:45px; text-align:center; float:left; border:none; margin-top:10px; border-radius:5px;}
.padd_btn3 a{ color:#fff;}
.shop_input02{float:left;width:40px;height:29px;line-height:29px;background:#FFFFFF;font-size: 14px; margin:0 10px; text-align:left; padding-left:5px; border:1px #dfdfdf solid; color:#747474;}

.register_tit { width:95%; padding:0 30px; float:left; text-align:left; height:60px; line-height:60px; color:#ff6600; font-size:20px; font-weight:bold; border-bottom:1px #dfdfdf solid; }
.register_tit1 { width:95%; padding:0 30px; float:left; text-align:left; height:60px; line-height:60px; color:#ff6600; font-size:20px; font-weight:bold; border-bottom:1px #dfdfdf solid; background:url(../images/release_07.jpg) left center no-repeat; }
.register_input01{float:left;width:200px;height:31px;line-height:20px;background:#FFFFFF;font-size: 14px; margin:0; text-align:left; padding-left:5px;}
.release_da2 { text-align:left; width:1130px; float:left; padding:15px 35px; border:#dfdfdf 1px solid; margin:15px auto; background:#fff;}
.release_input0 {width:98%; padding:10px; float:left; margin-bottom:10px; margin-top:10px;}
.release_input1{ width:80%; border:1px solid #d6cdcd; line-height:32px; box-sizing:border-box; color:#959595;}
.opinion_01 {  float:left; width:50%; padding-left:285px; padding-top:63px; height:100px; color:#0087fa; font-size:22px; font-weight:bold;}
.login_01 {float:right; width:320px; height:310px; background:#fff; margin-top:130px; margin-right:81px; border-radius:5px; padding:20px;}
.login_02 {float:left; width:100%; height:50px; line-height:40px; font-size:18px; font-weight:bold;margin-bottom:15px; color:#000000;}
.login_03 {float:left; width:100%; height:40px; margin-bottom:15px;}
.login_04 {float:left; width:100%; height:40px; margin-bottom:0px; text-align:left;}
.input-group {float:left; width:100%; height:40px;background:#fff;border-radius:5px; border:1px #dfdfdf solid; }
.input-group-addon {float:left; width:30px; height:30px;text-align:center; padding-top:10px;}
.form-control11{float:left;width:80%;height:40px;line-height:40px;font-size: 14px; margin:0 10px; text-align:left; padding-left:5px; border:none; color:#747474;}

.purchase_01 { text-align:left; width:100%; float:left; border-bottom:1px #dfdfdf solid; margin-bottom:10px;}
.purchase_01 .title00{ text-align:left; width:100%; float:left; line-height:35px; padding-bottom:10px; padding-top:10px;}
.purchase_01 .title00 h1{ text-align:left; float:left; font-size:18px; font-weight:bold; color:#000; line-height:35px;}
.purchase_01 .title00 span{ text-align:right; float:right; color:#005ea7; line-height:35px; font-size:13px; font-weight:normal;}
.purchase_01 .title00 span a{  color:#005ea7;}
.purchase_02{ text-align:left; width:98%; float:left; line-height:35px; padding:10px; font-size:16px;}
.purchase_02:hover{ background:#effff1;}
.purchase_03{ text-align:left; float:left; line-height:35px; font-size:16px; padding:0 30px; border:#e4393c 2px solid; background:url(../images/selected-icon.png) right bottom no-repeat; margin-right:20px;}
.purchase_03a{ text-align:left; float:left; line-height:35px; font-size:16px; padding:0 30px; border:#c9c9c9 2px solid; margin-right:20px;}
.purchase_04{ text-align:left; float:left; line-height:35px; font-size:16px; margin-right:20px;}
.purchase_05{ text-align:left; float:left; line-height:35px; font-size:16px; margin-right:20px; color:#fff; background:#999999; padding:0 10px;}
.purchase_06{ text-align:left; width:98%; float:left; line-height:35px; padding-bottom:10px; font-size:16px; padding-left:10px;}
.purchase_07{ text-align:left; width:98%; float:left; line-height:35px; padding:10px; font-size:16px;}
.purchase_08{ text-align:left; width:32%; float:left; padding-right:10px;}
.purchase_08 img{ border:1px #dfdfdf solid;}
.purchase_09{ text-align:left; width:60%; float:left;}
.purchase_10{ text-align:right; width:96%; float:left; border-bottom:1px #dfdfdf solid;border-top:1px #dfdfdf solid; background:#f4f4f4; margin-left:10px; padding:10px;}
.purchase_11{ text-align:right; width:98.3%; float:left; border-bottom:1px #dfdfdf solid;border-top:1px #dfdfdf solid; background:#f4f4f4;padding:10px; margin-top:10px;}
.purchase_100{ text-align:left; width:100%; float:left;}
.purchase_12{ text-align:left; float:left; line-height:35px; font-size:16px; margin-right:20px; color:#0099CC; padding:0 10px;}
.purchase_12 a{ color:#0099CC;}

.border100 { border:1px #dfdfdf solid;}
.purchase_table{border:1px #dfdfdf solid; font-size:15px;}

.purchase_table th{ background:#f3f3f3; border-bottom:1px #dfdfdf solid; font-size:16px;}
.purchase_table td{ padding:10px; border-bottom:1px #dfdfdf solid;}
.purchase_table tr{ }
.purchase_table tr:hover{ background:#effff1;}

.plant_01 { float:left; width:1200px; margin-bottom:20px;}
.plant_02 { float:left; width:49%; border:#e0dfdf 1px solid;}
.plant_03 { float:right; width:49%; border:#e0dfdf 1px solid;}
.plant_04 { float:left; width:96.6%; background:#f4f4f4; border-bottom:#e0dfdf 1px solid; height:43px; padding:0 10px; line-height:43px; }
.plant_04 a{ float:right; font-size:14px; width:10%;}
.plant_04 h1{ float:left; font-size:17px; font-weight:bold; width:80%;}
.plant_05 { float:left; width:97%; padding:10px; border-bottom:#e0dfdf 1px solid;}
.plant_05 .img01{ float:left; width:20%; padding-left:10px;}
.plant_05 .img01 img{ padding:2px; border:#e0dfdf 1px solid; }
.plant_05 .text01{ float:left; width:75%; line-height:26px;}
.plant_05 .date{ float:left; color:#0eb74c; width:75%;}
.plant_06 { float:left; width:97%; padding:10px;}
.plant_06 ul{ float:left; width:100%;}
.plant_06 ul li{ float:left; width:100%; list-style-type:none; line-height:30px;}
.plant_06 ul li .title01{ float:left; width:60%; padding-left:20px; background:url(../images/zb_11.jpg) left center no-repeat;}
.plant_06 ul li .title01 a{ color:#000;}
.plant_06 ul li .date01{ float:right; width:15%; color:#0eb74c; text-align:right;}
.plant_06 ul li .laiyuan{ float:right; width:10%; color:#a6a6a6; text-align:left;}
.plant_07 { float:left; width:100%; border:#e0dfdf 1px solid;}
.plant_08 { float:left; width:98%; padding:10px;}
.plant_09 { float:left; width:98.4%; background:#f4f4f4; border-bottom:#e0dfdf 1px solid; height:43px; padding:0 10px; line-height:43px; }
.plant_09 a{ float:right; font-size:14px; width:5%;}
.plant_09 h1{ float:left; font-size:17px; font-weight:bold; width:90%;}
.plant_10{ float:left; font-size:22px; font-weight:bold; width:100%; text-align:center; line-height:60px; border-bottom:#CCCCCC 1px dashed; height:60px;}
.plant_11{ float:left; font-size:14px; width:100%; text-align:center; line-height:35px; height:35px;}
.plant_12{ float:left; font-size:14px; width:98%; text-align:left; line-height:30px; padding:10px;}

.h_24 { float:left; width:220px; text-align:left; height:270px; margin-right:10px;}
.h_24 img{text-align:center; padding:3px;  border:#d6d6d6 1px solid;}
.h_24 a{ line-height:40px;}





/* 页码 */
.page_1{float:left;clear:both;padding:20px 0;margin:0 auto;clear:both;text-align:center;font-size:13px;width: 100%;margin-bottom: 10px; border:1px #dfdfdf solid; }
.page_1 a {padding-right: 12px;padding-left: 12px;padding-bottom: 6px;color: #454545;padding-top: 6px;border: #dddddd 1px solid;text-decoration: none;font-size:13px; margin:0 2px;}
.page_1 a:hover {padding-right: 12px;padding-left: 12px;padding-bottom: 6px;padding-top: 6px;border: #0eb74c 1px solid;font-size:13px;}
.page_1 a:active {padding-right: 12px;padding-left: 12px;padding-bottom: 6px;padding-top: 6px;border: #dcdcdc 1px solid;font-size:13px;}
.page_1 span.current_1 {padding-right: 12px;padding-left: 12px;padding-bottom: 6px;color: #aaa;padding-top: 6px;border: #0eb74c 1px solid;background-color: #0eb74c;font-weight: bold;color:#FFF;font-size:13px;}
.page_1 span.disabled {padding-right: 12px;padding-left: 12px;padding-bottom: 6px;color: #ccc;margin-right: 4px;padding-top: 6px;border: #0eb74c 1px solid;font-size:13px;}
.page_2{margin-right: 4px;}
.page_2 a:hover{margin-right: 4px;}
.page_2 a:active {margin-right: 4px;}

/* 帮助中心二级分类 */
/*简单粗暴重置默认样式===============================*/
	.treebox{ width: 100%; float:left; background-color:#f6f6f6; }
	.menu{ overflow: hidden;border-bottom:1px #dfdfdf solid;}
	/*第一层*/
	.menu li.level1>a{ 
		display:block;
		height: 45px;
		line-height: 45px;
		padding-left: 50px;
		border-bottom: 1px solid #dfdfdf; 
		font-size: 16px;
		position: relative;
		transition:all .5s ease 0s;
	 }
	 .menu li.level1 a:hover{ text-decoration: none;background-color:#d4d4d4; color:#000;}
	 .menu li.level1 a.current{background-color:#d4d4d4; color:#000;}

	/*============修饰图标*/
	 .ico{ width: 20px; height: 20px; display:block;   position: absolute; left: 20px; top: 10px; background-repeat: no-repeat; }

	 /*============小箭头*/
	 .level1 i{ width: 20px; height: 10px; background-image:url(../images/arrow.png); background-repeat: no-repeat; display: block; position: absolute; right: 10px; top: 20px; }
	.level1 i.down{ background-position: 0 -10px; }

	 /*第二层*/
	 .menu li ul{ overflow: hidden; }
	 .menu li ul.level2{ display: none;background: #f8f8f8; }
	 .menu li ul.level2 li a{
		display: block;
		height: 45px;
		line-height: 45px;
		text-indent: 60px; color:#848484;
		/*border-bottom: 1px solid #ddd; */
		font-size: 14px;
		 transition:all 1s ease 0s;border-bottom: 1px solid #dfdfdf; 
	 }
	 .menu li ul.level2 li a:hover{
		background: #fff; color:#848484; border-left:#c30d23 1px solid;
	 }


.m_left_top { text-align:left; width:100%; float:left; margin-bottom:10px; }


/*滚动*/




#demoa {
overflow:hidden;
width: 1170px;

}
#demoa img {
text-align:center; padding:3px;  border:#d6d6d6 1px solid;}
#indemoa {
	float: left;
	width: 800%;
}
#demoa1 {
float: left;
}
#demoa2 {
float: left;
}


#demoa0 {
overflow:hidden;
width: 900px;

}
#demoa0 img {
text-align:center; padding:3px;  border:#d6d6d6 1px solid;}
#indemoa0 {
	float: left;
	width: 800%;
}
#demoa10 {
float: left;
}
#demoa20 {
float: left;
}




.ban{ width:397px; height:455px; position:relative; overflow:hidden;}
.ban2{ width:397px; height:351px; position:relative; overflow:hidden;}
.ban2 ul{ position:absolute; left:0; top:0;}
.ban2 ul li{ width:397px; height:351px;}
.prev{ float:left; cursor:pointer;}
.num{ height:82px;overflow:hidden; width:347px; position:relative;float:left;}
.min_pic{ padding-top:10px; width:397px;}
.num ul{ position:absolute; left:0; top:0;}
.num ul li{ width:80px; height:71px; margin-right:5px; padding:1px;}
.num ul li.on{ border:1px solid red; padding:0;}
.prev_btn1{ width:16px; text-align:center; height:18px; margin-top:30px; margin-right:10px; cursor:pointer; float:left;}
.next_btn1{  width:16px; text-align:center; height:18px; margin-top:30px;cursor:pointer;float:right;}
.prev1{ position:absolute; top:40%; left:20px; width:28px; height:51px;z-index:9;cursor:pointer;}
.next1{ position:absolute; top:40%; right:20px; width:28px; height:51px;z-index:9;cursor:pointer;}
.mhc{ background:#000; width:100%;opacity:0.5;-moz-opacity:0.5;filter:alpha(Opacity=50); position:absolute; left:0; top:0; display:none;}
.pop_up{ width:500px; height:500px; padding:10px; background:#fff; position:fixed; -position:absolute; left:50%; top:50%; margin-left:-255px; margin-top:-255px; display:none; z-index:99;}
.pop_up_xx{ width:40px; height:40px; position:absolute; top:-40px; right:0; cursor:pointer;}
.pop_up2{ width:500px; height:500px; position:relative; overflow:hidden;}
.pop_up2{ width:500px; height:500px; position:relative; overflow:hidden; float:left;}
.pop_up2 ul{ position:absolute; left:0; top:0;}
.pop_up2 ul li{ width:500px; height:500px; float:left;}
.padding_01 { padding-right:50px;}



/* 结算页步骤代码 */
.stepflex {
    display: inline-block;
    display: block;
    border-top: 5px solid #ccc;
    text-align: center;
    margin: 30px 0 0;
	color: #fff;
    float: right;
}
.stepflex dl.done {
    border-top-color: #caecb6;
}
.stepflex dl {
    float: left;
    position: relative;
    width: 160px;
    top: -5px;
    border-top: 5px solid #ccc;
        border-top-color: rgb(204, 204, 204);
}
.stepflex dl.done .s-num {
    background-position: -46px 0;
}
.stepflex .s-num {
    position: relative;
    margin: -15px auto 0;
    color: #fff;
    font-weight: 700;
    width: 23px;
    height: 23px;
    background-image: url(../images/step2013.png);
    line-height: 23px;
}
.stepflex dl.done .s-text {
    color: #fff;
}
.stepflex .s-text {
    color: #fff;
}
.stepflex dl.doing {
    border-top-color: #7abd54;
}
.stepflex dl.doing .s-num {
    background-position: -23px 0;
}


/*zll*/
.ddxq_part1{ text-align:left; width:98%; float:left; border-top:2px #0eb74c solid;   border-bottom:1px solid #d9d9d9; border-left:1px solid #d9d9d9; border-right:1px solid #d9d9d9; padding:0 10px;}

.ddxq_part1_left{ text-align:left; width:75%; float:left; padding:0 10px; font-size:12px; line-height:20px;border-right:1px  solid #d9d9d9; padding:10px 0 20px 0;}
.ddxq_part1_lc{ float:left; text-align:left; background:url(../images/ddxq_19.jpg) 38px  18px no-repeat; margin-top:10px; width:21%; }
.ddxq_part1_lc ul{}
.ddxq_part1_lc ul li{ float:left; text-align:left; margin-top:10px; width:96%; padding-left:4%; }
.ddxq_part1_lc_1{ float:left; text-align:left; background:url(../images/ddxq_20.jpg) 38px  18px no-repeat; margin-top:10px; width:21%; }
.ddxq_part1_lc_1 ul{}
.ddxq_part1_lc_1 ul li{ float:left; text-align:left; margin-top:10px; width:96%; padding-left:4%; }
.ddxq_part1_lc_2{ float:left; text-align:left;  margin-top:10px; width:16%; }
.ddxq_part1_lc_2 ul{}
.ddxq_part1_lc_2 ul li{ float:left; text-align:left; margin-top:10px; width:83%; padding-left:17%; }
.ddxq_part1_right{ text-align:center; width:20%; float:right; padding:10px; font-size:12px; line-height:20px;}
.ddxq_part1_right strong{  font-size:24px; color: #0eb74c; line-height:60px;}
.padd_btn6 { cursor:pointer; display:block; line-height:30px; font-size:12px; border-radius:5px; border:1px solid #ffa02f ; color:#ffa02f; width:70px; height:30px; text-align:center; margin:20px auto;background:none;}
.padd_btn5 a{ color:#ffa02f;}
.ddxq_part1_right ul{ width:50%; float:left; }
.ddxq_part1_right ul li{ height:29px; line-height:29px; float:left; padding:0 5px;}
.ddxq_tit{ float:left; width:100%; height:50px; line-height:50px; border-bottom:1px solid #d9d9d9; font-size:24px; font-weight:bold; color:#4ab247;}
.shop_input0 ul{ float:left; width:98%; margin: 10px 0 30px 0; padding-left:10px;}
.shop_input0 ul li{ float:left; width:100%; line-height:24px; font-size:12px;}




/*t弹出*/
.tb-toolbar-item-hd {
	display:block;
	width:106px;
	height:25px;
	position:relative;
	color:#666;
	font-size:12px;
	text-decoration:none!important;
	cursor:pointer;
	outline:0;
	_overflow:hidden
}
.tb-toolbar-item-hd:hover {
	_overflow:visible
}
.tb-toolbar-item-hd:hover,.tb-toolbar-item-hd-active {
	color:#f40;
	background-color:#fff
}
.tb-toolbar-item-tip {
	display:none;
	z-index:100000022;
	position:absolute;
	top:32px;
	right:-4px;
	width:150px;
	height:30px;
	color:#fff;
	font-size:16px;
	line-height:30px;
	text-align:center;
	background:#f40;
	-webkit-animation:topFadeIn .3s ease-out;
	-moz-animation:topFadeIn .3s ease-out;
	animation:topFadeIn .3s ease-out
}
.tb-toolbar-item-hd:hover .tb-toolbar-item-tip {
	display:block
}
.tb-toolbar-item-icon {
	text-align:center;
	width:106px;
	line-height:25px;
	font-family:tb-toolbar-iconfont;
	font-style:normal;
	-webkit-font-smoothing:antialiased;
	webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	display:block;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none
}

.paybox{ text-align:left; width:calc(100% - 20px); float:left;margin-bottom:10px; padding:10px;}

.paybox-selected {
    margin-top: -2px;
    _margin-top: -1px;
    padding: 0;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(10,22,57,.5);
	 padding:10px;
	 width:calc(100% - 20px); 
}